#scores {
  list-style: none;
  text-align: right;
}

#initials {
  padding: 0 40px 0 0;
}

#scoreboard {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
