header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#high-scores {
  color: navy;
  font-size: 30px;
  font-weight: 700;
}

#timer, 
#sec,
#ms {
  /* display: none; */
  font-size: 30px;
  font-weight: 400;
}

#start-quiz {
  text-align: center;
  margin: 10px 10%;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

#start-quiz h1 {
  font-size: 50px;
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20%;
  /* display: none; */
}

#question {
  text-align: left;
}

li {
  font-size: 20px;
}