header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#high-scores {
  color: navy;
  font-size: 30px;
  font-weight: 700;
}

#timer, 
#sec,
#ms {
  /* display: none; */
  font-size: 30px;
  font-weight: 400;
}
h1 {
  padding-bottom: 15px;
}
#start-quiz {
  text-align: center;
  margin: 10px 10%;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

#start-quiz h1 {
  font-size: 50px;
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20%;
  /* display: none; */
}

#question {
  text-align: left;
}

li {
  font-size: 20px;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 4px;
  padding: 12px;
  margin-top: 15px;
  width: 100%;
  color: white;
}

ol {
  width: 100%;
}

#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  border: 3px solid navy;
  border-radius: 4px;
  padding: 20px;
  width: fit-content;
  margin-bottom: 20px;
}

#score h2 {
  margin: 15px 0 0 0;
}

#math {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#score-breakdown p {
  text-align: right;
}

#math p {
  font-size: 22px;
  padding: 10px 0 10px 0;
}

#math h3 {
  font-size: 26px;
  padding: 10px 0 10px 0;
}

a:hover {
cursor: pointer;
}

#correct-bonus {
  text-align: right;
}

#score-bonus {
  text-align: right;
}

#score-breakdown {
  padding-left: 75px;
}
  
#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 15px;
  padding: 15px;
  background-color: purple;
  color: white;
  border: 2px solid purple;
  border-radius: 4px;
}

input {
  margin-top: 15px;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 4px;
}